{% extends "menu_base.html" %}

{% block dashboard_content %}

<!-- Defines which dashboard button is going to have the .strong-underline class -->
<input id="active-button" type="hidden" value="#btn-3">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5">

            <h1 class="py-4 ps-2 fs-2 text-center">Awaiting approval</h1>
            <div class="pt-4">
                <p>
                    Your application is being reviewd and is currently waiting for a manager to approve it. If you need
                    to contact someone in the mean time, please send us a message throught the <a
                        href="{% url 'home_contact' %}" id="home-a">contact page</a> and we'll get back to you as
                    quickly as we can.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}