{% extends "menu_base.html" %}

{% load crispy_forms_tags %}

{% block dashboard_content %}

<!-- Defines which dashboard button is going to have the .strong-underline class -->
<input id="active-button" type="hidden" value="#btn-3">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5">

            <h1 class="py-4 ps-2 fs-2 text-center">Let's get in touch</h1>
            <div class="card card-body">
                <div class="pt-3">
                    <div id="form-sent"></div>
                    <form id="contact-form" method="post" class="form-validation">
                        {% crispy form %}
                        <div class="container-fluid">
                            <div class="row">
                                <button type="submit" class="blue-btn-small col-sm-6 col-md-4">
                                    <i class="fa-solid fa-paper-plane"></i><span class="ps-2">Send</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}