{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<header>
    
    <!-- Navigation with toggle button for smaller screens -->
    <nav class="navbar navbar-expand-md black-nav">
        <div class="container-md mt-4 col-10">
            <a class="navbar-brand fs-3 fw-bold" href="{% url 'home' %}">TheMaintenanceCo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars fs-3"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="top-menu" class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}" id="btn-1" aria-label="go to home page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home_about' %}" id="btn-2" aria-label="go to about page">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home_contact' %}" id="btn-3" aria-label="go to contact page">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}" aria-label="go to dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_account' %}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}" aria-label="logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}" aria-label="go to login page">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<main id="dash_main">

    <div class="container-fluid">
        <div class="row mt-2 p-4">
            <div class="col-md-6 offset-md-3">
                <h5 class="pb-2 ps-2">Edit account:</h5>
                <div class="card card-body">
                    <form method="post">
                        {% crispy form1 %}
                        {% crispy form2 %}
                        <button class="blue-btn-small" type="submit">
                            <i class="fa-solid fa-user-check"></i><span class="ps-2">Save</span>
                        </button>
                    </form>
                    <div class="row">
                        <div class="col">
                            <a class="blue-btn-small" href="{% url 'account_change_password' %}">
                                <i class="fa-solid fa-key"></i><span class="ps-2">Change password</span>
                            </a>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>

</main>

{% endblock %}