{% extends "base.html" %}

{% block content %}
<header id="landing_page">
    <!-- Navigation with toggle button for smaller screens -->
    <nav class="navbar navbar-expand-md black-nav">
        <div class="container-md mt-4 col-10">
            <a class="navbar-brand fs-3 fw-bold" href="{% url 'home' %}">TheMaintenanceCo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars fs-3"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="home_menu" class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home_contact' %}">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Headline title with call to action button -->
    <div class="hero-image">
        <div class="container-fluid p-0 text-center">
            <div class="row">
                <div class="col-sm-8 col-md-6 position-relative">
                    <div id="home_headline">
                        <h1>Restaurant Maintenance</h1>
                        <p class="px-5 fw-semibold">We provide expert maintenance for on demand fast food reataurants,
                            so your bussiness can keep on running 24/7.
                        </p>
                        <a href="#" class="btn btn-dark btn-lg">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
{% endblock %}