{% extends "menu_base.html" %}

{% block dashboard_content %}
<!-- Headline title with call to action button -->
<div class="hero-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-md-4 offset-md-1 position-relative">
                <div id="home_headline" class="text-center">
                    <h1>Restaurant Maintenance</h1>
                    <p class="px-5 fw-semibold">
                        We provide expert maintenance for on demand fast food reataurants, so your bussiness can keep on
                        running 24/7.
                    </p>
                    <a class="grey-btn-small" href="{% url 'home_contact' %}" aria-label="go to the contact page">
                            Get in touch to find out more!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}