{% extends "dashboard_base.html" %}

{% load crispy_forms_tags %}

{% block dashboard_content %}

<div class="container-fluid">
    <div class="row p-4">
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="logout-card text-center">
                <h5 class="pb-2">Are you sure you want to logout?</h5>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-6">
                            <div class="grey-btn-small">
                                <a href="{% url 'dashboard' %}" id="btn-logout">Cancel</a>
                            </div>
                        </div>
                          <div class="col-6">
                            <button class="grey-btn-small" type="submit">Logout</button>
                        </div>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}