{% extends "manager_dashboard/manager_dashboard_base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block manager_content %}

<!-- Defines which dashboard button is going to have the .strong-underline class -->
<input id="active-button" type="hidden" value="#mgr-btn-2" name="Add User">

<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-6 offset-md-3">
            <h5 class="pb-2 ps-2">Create new user</h5>
            <div class="card card-body">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% crispy form %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="blue-btn-small" type="submit">{% trans "Sign Up" %} &raquo;</button>
                </form>
            </div>
       </div>
    </div>
</div>
{% endblock %}