{% extends "client_dashboard/client_dashboard_base.html" %}

{% block client_content %}
<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-8 offset-md-2">
            <div class="card" id="card-content">

                <!-- Tabs content -->
                <div class="card-body px-md-5 py-4">
                    <h4>Add new job:</h4>
                    <div class="pt-4">
                        <form method="post">
                            {% csrf_token %}
                            Add job
                            <p>
                                <button type="submit" class="green-btn">Create job</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}