{% extends "client_dashboard/client_dashboard_base.html" %}

{% block client_content %}
<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-8 offset-md-2">
            <div class="card" id="card-content">
                <!-- Tabs navigation -->
                <div class="card-header pb-4">
                    <ul class="nav nav-tab" id="myTab">
                        <li class="nav-item">
                            <a href="{% url 'categories' %}">
                                <button class="nav-link">Categories</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'equipments' %}" aria-current="page">
                                <button class="nav-link active">Equipments</button>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Tabs content -->
                <div class="card-body px-md-5 py-4">
                    <h5>Add equipment:</h5>
                    <div class="pt-4">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <p>
                                <button type="submit" class="green-btn">Add equipment</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}