{% extends "client_dashboard/client_dashboard_base.html" %}

{% load crispy_forms_tags %}

{% block client_content %}

<!-- Defines which dashboard button is going to have the .strong-underline class -->
<input id="active-button" type="hidden" value="#btn-2" name="Settings">

<div class="container-fluid">
    <div class="row mt-2 px-md-4 pt-4">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <p>
                <a href="{% url 'equipments' %}" class="custom-link"><i class="fa-solid fa-chevron-left"></i>Back</a>
            </p>
            <div class="card card-body">
                <h5 class="pb-2">Add equipment:</h5>
                <div class="pt-3 col-md-6">
                    <form method="post">
                        {% crispy form %}
                        <p>
                            <button type="submit" class="blue-btn-small">
                                <i class="fa-solid fa-check"></i><span class="ps-2">Add equipment</span>
                            </button>
                        </p>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}