{% extends "client_dashboard/client_dashboard_base.html" %}

{% block client_content %}
<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-8 offset-md-2">
            <div class="card" id="card-content">
                <!-- Tabs navigation -->
                <div class="card-header pb-4">
                    <ul class="nav nav-tab" id="myTab">
                        <li class="nav-item">
                            <a href="#" aria-current="page">
                                <button class="nav-link active">Categories</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <button class="nav-link">Equipments</button>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Tabs content -->
                <div class="card-body">
                    {% for category in categories %}
                    <div class="category px-md-5 py-2 row">
                        <div class="col-6">
                            <strong>{{ category.name }}</strong>
                        </div>
                        <div class="col-3 offset-3 offset-md-0">
                            <a href="#">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a href="/client/categories/delete_{{ category.id }}">
                                <i class="fa-solid fa-xmark ps-2 category-delete"></i>
                            </a>
                        </div>
                    </div>
                    {% empty %}
                    <p>No categories registered.</p>
                    {% endfor %}
                    <div class="px-5 py-4">
                        <form method="post">
                            {% csrf_token %}
                            {{ form }}
                            <span>
                                <button type="submit" class="green-btn-small">Add</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}