{% extends "client_dashboard/client_dashboard_base.html" %}

{% load crispy_forms_tags %}

{% block client_content %}

<!-- Defines which dashboard button is going to have the .strong-underline class -->
<input id="active-button" type="hidden" value="#btn-2" name="Settings">

<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">

            <nav class="navbar navbar-expand-sm ps-2 pt-2 pb-4">
                <a id="dash_menu_2_toggle" class="navbar-toggler" data-bs-toggle="collapse" href="#jobs_options"
                    aria-controls="jobs_options" aria-expanded="false" aria-label="Toggle navigation">Categories <i class="fa-solid fa-chevron-down"></i>
                </a>
                <div class="collapse navbar-collapse" id="jobs_options">
                    <ul class="navbar-nav">
                        <li class="nav-item pe-3">
                            <a class="menu-active" href="{% url 'categories' %}">Categories</a>
                        </li>
                        <li class="nav-item pe-3">
                            <a href="{% url 'equipments' %}">Equipments</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="card card-body">

                {% for category in categories %}
                <div class="row ps-md-4 py-2">

                    <!-- Category -->
                    <div class="col-9 col-md-6">
                        <strong>{{ category.name }}</strong>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'edit_category' category.id %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <button class="category-button ps-4" type="button" data-bs-toggle="modal"
                            data-bs-target="#modal_{{ category.id }}" aria-expanded="false"
                            aria-controls="delete confirmation">
                            <i class="fa-solid fa-trash-can category-delete"></i>
                        </button>
                    </div>

                </div>

                <!-- Delete job Modal -->
                <div class="modal fade" id="modal_{{ category.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center p-4 p-md-5">
                            <p>
                                <span>
                                    Are you sure you would like to delete <strong>{{ category.name }}</strong>? This
                                    will delete all related equipments and jobs!
                                </span>
                            </p>
                            </div>
                            <div class="modal-body text-center">
                                <div class="container-fluid">
                                    <div class="row modal-buttons">
                                        <div class="col-6 modal-button-border p-2">
                                            <button type="button" class="modal-light-btn"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                        <div class="col-6 p-2">
                                            <a href="{% url 'delete_category' category.id %}">
                                                <button class="modal-red-btn">Delete</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% empty %}
                <p>No categories registered.</p>
                {% endfor %}
                <form method="post">
                    <div class="container-fluid">
                        <div class="row ps-md-2">
                            <div class="col-md-5">
                                {% crispy form %}
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 pt-sm-4">
                                <button type="submit" class="blue-btn-small category-button2">
                                    <i class="fa-solid fa-plus"></i><span class="ps-2">Add category</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}