{% extends "client_dashboard/client_dashboard_base.html" %}

{% block client_content %}
<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card" id="card-content">
                <div class="card-header pb-4">

                    <!-- Tabs navigation -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="new-tab" data-bs-toggle="tab"
                                data-bs-target="#new-tab-pane" type="button" role="tab" aria-controls="new-tab-pane"
                                aria-selected="true">New ({{ new_jobs|length }})
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="active-tab" data-bs-toggle="tab"
                                data-bs-target="#active-tab-pane" type="button" role="tab"
                                aria-controls="active-tab-pane" aria-selected="false">Active ({{ active_jobs|length }})
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="completed-tab" data-bs-toggle="tab"
                                data-bs-target="#completed-tab-pane" type="button" role="tab"
                                aria-controls="completed-tab-pane" aria-selected="false">Completed ({{ completed_jobs|length }})
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="card-body px-md-5 pt-2 pb-5">
                    <!-- Tabs content -->
                    <div class="tab-content" id="myTabContent">

                        <!-- New jobs accordion -->
                        <div class="tab-pane fade show active" id="new-tab-pane" role="tabpanel"
                            aria-labelledby="new-tab" tabindex="0">
                            <div class="accordion" id="dash_accordion">
                                {% for job in new_jobs %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#{{ forloop.counter }}" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <span>{{ job.id }} - {{ job.title }}</span>
                                        </button>
                                    </h2>
                                    <div id="{{ forloop.counter }}" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#dash_accordion">
                                        <div class="accordion-body pb-4">
                                            <p>
                                                <strong>Description:</strong><br>
                                                {{ job.description }}
                                            </p>
                                            <p>
                                                <strong>Created on:</strong> {{ job.created_on }}<br>
                                                <strong>Last updated on:</strong> {{ job.updated_on }}
                                            </p>
                                            <p>
                                                <strong>Assigned to:</strong> {{ job.assignment }}
                                            </p>
                                            <p>
                                                <strong>Feedback given:</strong><br>
                                                {{ job.feedback }}
                                            </p>
                                            <p>
                                                <a href="{% url 'client_edit_job' job.id %}">
                                                    <button type="button" class="grey-btn-small">
                                                        <i class="fa-solid fa-pen-to-square"></i><span class="ps-2">Edit job</span>
                                                    </button>
                                                </a>
                                                <button class="grey-btn-small" type="button" data-bs-toggle="modal" data-bs-target="#modal_{{ job.id }}" aria-expanded="false" aria-controls="delete job">
                                                    <i class="fa-solid fa-xmark"></i><span class="ps-2">Delete job</span>
                                                </button>
                                            </p>                                            
                                        </div>
                                    </div>
                                </div>

                                <!-- Delete job Modal -->
                                <div class="modal fade" id="modal_{{ job.id }}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header justify-content-center p-4 p-md-5">
                                                <strong class="text-center">Are you sure you would like to
                                                    delete this job?</strong>
                                            </div>
                                            <div class="modal-body text-center">
                                                <div class="container-fluid">
                                                    <div class="row modal-buttons">
                                                        <div class="col-6 modal-button-border p-2">
                                                            <button type="button" class="modal-light-btn"
                                                                data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                        <div class="col-6 p-2">
                                                            <a href="{% url 'client_delete_job' job.id %}">
                                                                <button class="modal-red-btn">Delete</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% empty %}
                                <p>There are currently no new jobs.</p>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Active jobs accordion -->
                        <div class="tab-pane fade" id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab"
                            tabindex="0">
                            <div class="accordion" id="dash_accordion2">
                                {% for job in active_jobs %}
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#{{ forloop.counter }}" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <span>
                                                <strong class="testing">{{ job.id }} - {{ job.title }}</strong>
                                                {% if job.deletion %}
                                                - <i class="fa-regular fa-clock"></i> Awaiting deletion
                                                {% endif %}
                                            </span>
                                        </button>
                                    </div>
                                    <div id="{{ forloop.counter }}" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#dash_accordion2">
                                        <div class="accordion-body pb-4">
                                            <p>
                                                <strong>Description:</strong><br>
                                                {{ job.description }}
                                            </p>
                                            <p>
                                                <strong>Created on:</strong> {{ job.created_on }}<br>
                                                <strong>Last updated on:</strong> {{ job.updated_on }}
                                            </p>
                                            <p>
                                                <strong>Assigned to:</strong> {{ job.assignment }}
                                            </p>
                                            <p>
                                                <strong>Feedback given:</strong><br>
                                                {{ job.feedback }}
                                            </p>
                                            {% if job.deletion %}
                                            <p>
                                                <i class="fa-regular fa-clock"></i><strong class="fst-italic"> Awaiting approval to delete job.</strong>
                                            </p>
                                            <p>
                                                <a href="{% url 'request_job_deletion' job.id %}">
                                                    <button class="grey-btn-small" type="button" aria-controls="cancel job deletion">
                                                        <i class="fa-solid fa-xmark"></i><span class="ps-2">Cancel job deletion</span>
                                                    </button>
                                                </a>
                                            </p>
                                            {% else %}
                                            <p>
                                                <a href="{% url 'client_edit_job' job.id %}">
                                                    <button type="button" class="grey-btn-small">
                                                        <i class="fa-solid fa-pen-to-square"></i><span class="ps-2">Edit job</span>
                                                    </button>
                                                </a>
                                                <button class="grey-btn-small" type="button" data-bs-toggle="modal" data-bs-target="#modal_{{ job.id }}" aria-expanded="false" aria-controls="request job deletion">
                                                    <i class="fa-solid fa-xmark"></i><span class="ps-2">Request job deletion</span>
                                                </button>
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <!-- Request job deletion modal -->
                                <div class="modal fade" id="modal_{{ job.id }}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header justify-content-center p-4 p-md-5">
                                                <strong class="text-center">Are you sure you would like to request to delete this job?</strong>
                                            </div>
                                            <div class="modal-body text-center">
                                                <div class="container-fluid">
                                                    <div class="row modal-buttons">
                                                        <div class="col-6 modal-button-border p-2">
                                                            <button type="button" class="modal-light-btn"
                                                                data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                        <div class="col-6 p-2">
                                                            <a href="{% url 'request_job_deletion' job.id %}">
                                                                <button class="modal-red-btn">Request deletion</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% empty %}
                                <p>There are currently no new jobs.</p>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Completed jobs accordion -->
                        <div class="tab-pane fade" id="completed-tab-pane" role="tabpanel"
                            aria-labelledby="completed-tab" tabindex="0">
                            <div class="accordion" id="dash_accordion3">
                                {% for job in completed_jobs %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#{{ forloop.counter }}" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <span>{{ job.id }} - {{ job.title }}</span>
                                        </button>
                                    </h2>
                                    <div id="{{ forloop.counter }}" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#dash_accordion3">
                                        <div class="accordion-body pb-4">
                                            <p>
                                                <strong>Description:</strong><br>
                                                {{ job.description }}
                                            </p>
                                            <p>
                                                <strong>Created on:</strong> {{ job.created_on }}<br>
                                                <strong>Last updated on:</strong> {{ job.updated_on }}
                                            </p>
                                            <p>
                                                <strong>Assigned to:</strong> {{ job.assignment }}
                                            </p>
                                            <p>
                                                <strong>Feedback given:</strong><br>
                                                {{ job.feedback }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <p>There are currently no new jobs.</p>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}