{% extends "client_dashboard/client_dashboard_base.html" %}

{% block client_content %}
<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card" id="card-content">
                <!-- Tabs navigation -->
                <div class="card-header pb-4">
                    <ul class="nav nav-tab" id="myTab">
                        <li class="nav-item">
                            <a href="{% url 'categories' %}">
                                <button class="nav-link">Categories</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'equipments' %}" aria-current="page">
                                <button class="nav-link active">Equipments</button>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Tabs content -->
                <div class="card-body px-md-5 py-4">
                    <h5>Delete equipment:</h5>
                    <div class="pt-4">
                        <p>Warning!</p>
                        <p>Are you sure you want to delete <strong>{{ equipment }}</strong>? This will delete all associated jobs!</p>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="red-btn">Delete</button>
                            <a href="{% url 'equipments' %}">
                                <button type="button" class="grey-btn">Cancel</button>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}