{% extends "client_dashboard/client_dashboard_base.html" %}

{% load crispy_forms_tags %}

{% block client_content %}
<!-- Defines which dashboard button is going to have the .strong-underline class -->
<input id="active-button" type="hidden" value="#btn-1" name="Jobs">

<div class="container-fluid">
    <div class="row mt-2 px-md-4 pt-4">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <p>
                <a href="{% url 'client_new_jobs' %}" class="custom-link"><i class="fa-solid fa-chevron-left"></i>Back</a>
            </p>
            <div class="card card-body">
                <h5 class="pb-2">Edit job:</h5>
                <span><strong># {{ job.id }}</strong> - {{ job.title }}</span>
                <div class="pt-3">
                    <form method="post">
                        {% crispy edit_form %}
                        <p>
                            <button type="submit" class="blue-btn-small">
                                <i class="fa-solid fa-check"></i><span class="ps-2">Save</span>
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}