{% extends "client_dashboard/client_dashboard_base.html" %}

{% block client_content %}

<!-- Defines which dashboard button is going to have the .strong-underline class -->
<input id="active-button" type="hidden" value="#btn-1" name="Jobs">

<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card" id="card-content">
                <div class="card-header pb-4">

                    <!-- Tabs navigation -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="new-tab" data-bs-toggle="tab"
                                data-bs-target="#new-tab-pane" type="button" role="tab" aria-controls="new-tab-pane"
                                aria-selected="true">New ({{ new_jobs|length }})
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="active-tab" data-bs-toggle="tab"
                                data-bs-target="#active-tab-pane" type="button" role="tab"
                                aria-controls="active-tab-pane" aria-selected="false">Active ({{ active_jobs|length }})
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="completed-tab" data-bs-toggle="tab"
                                data-bs-target="#completed-tab-pane" type="button" role="tab"
                                aria-controls="completed-tab-pane" aria-selected="false">Completed ({{ completed_jobs|length }})
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="card-body px-md-5 pt-2 pb-5">
                    <!-- Tabs content -->
                    <div class="tab-content" id="myTabContent">


                        <!-- Completed jobs accordion -->
                        <div class="tab-pane fade" id="completed-tab-pane" role="tabpanel"
                            aria-labelledby="completed-tab" tabindex="0">
                            <div class="accordion" id="dash_accordion3">
                                {% for job in completed_jobs %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#{{ forloop.counter }}" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <span>{{ job.id }} - {{ job.title }}</span>
                                        </button>
                                    </h2>
                                    <div id="{{ forloop.counter }}" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#dash_accordion3">
                                        <div class="accordion-body pb-4">
                                            <p>
                                                <strong>Description:</strong><br>
                                                {{ job.description }}
                                            </p>
                                            <p>
                                                <strong>Created on:</strong> {{ job.created_on }}<br>
                                                <strong>Last updated on:</strong> {{ job.updated_on }}
                                            </p>
                                            <p>
                                                <strong>Assigned to:</strong> {{ job.assignment }}
                                            </p>
                                            <p>
                                                <strong>Feedback given:</strong><br>
                                                {{ job.feedback }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <p>There are currently no new jobs.</p>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}