body {
    height: 100%;
    background-color: #ffffff;
}

a {
    color: inherit;
    text-decoration: none;
}


/* Navbar */

header nav {
    background-color: #000000;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover {
    color: #ffffff;
    text-decoration: none;
}

#top-menu a {
    color: #d0d0d0;
}

#top-menu a:hover {
    color: #ffffff;
    text-decoration: none;
}

.navbar-toggler {
    color: #ffffff;
}

.navbar-toggler-icon {
    color: #ffffff;
}

.navbar-text {
    color: #d0d0d0;
}


/* Home */
.hero-image {
    background-image: url("https://res.cloudinary.com/andrebraga7/image/upload/v1675090781/static/images/hero_1.e5aef33d418c.jpg");
    background-size: cover;
    height: 80vh;
}

#home-a {
    color: #4699f7;
    text-decoration: none;
}

#home-a:hover {
    text-decoration: underline;
}

#home_headline {
    position: absolute;
    top: 25vh;
}

#home_headline h1 {
    color: #2266c5;
}

#home_headline button {
    color: white;
    background-color: #393939;
    border: none;
    border-radius: 3px;
    padding: 10px;
}
    
#home_headline button:hover {
    background-color: #202020;
}

footer {
    color: #393939;
    font-size: 0.9rem;
    background-color: #f5f5f5;
    height: 9vh;
}

footer a {
    color: #393939;
}


/* Dashboard */

#dash_main {
    min-height: 80vh;
}

#dashboard-menu {
    background-color: #f5f5f5;
}

#dash_main nav {
    padding: 0;
}

#dash_menu_2_toggle {
    color: inherit;
    border: none;
    padding: 8px 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
}

#dash_menu_3_toggle {
    color: inherit;
    border: none;
    padding: 8px 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
}

#dropdown_options ul li a{
    color: inherit;
    font-weight: 600;
}

#dropdown_options ul li a:hover {
    border-bottom: 3px solid #000000;
}

.strong-underline {
    border-bottom: 3px solid #000000;
}

/* Jobs menu */

.menu-active {
    color: #4699f7;
}

#jobs_options a:hover {
    color: #4699f7;
}


/* Card content */

.card {
    background-color: #f5f5f5;
    min-height: 50vh;
    border-color: #dee2e6;
}

.logout-card {
    background-color: #f5f5f5;
    min-height: 15vh;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    padding: 3vh 3vw;
    margin-top: 15vh;
}


/* Modal */

.modal-header {
    border: none;
}

.modal-body {
    text-align: center;
    padding: 0;
}

.modal-buttons {
    border-top: 1px solid lightgrey;
}

.modal-button-border {
    border-right: 1px solid lightgrey;
}

/* Category */

.category-button {
    border: none;
    margin: none;
    background: none;
}

.category-delete:hover {
    color: red;
}

.category-button2 {
    width: 100%;
}


/* Accordion */

.accordion {
    --bs-accordion-color: inherit;
    --bs-accordion-bg: #ffffff;
    --bs-accordion-border-width: 1px;
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-bg: #f5f5f5;
    --bs-accordion-active-color: inherit;
    --bs-accordion-active-bg: #f5f5f5;
}


/* Custom buttons */

.grey-btn-small {
    color: white;
    font-size: .9rem;
    background-color: #393939;
    border: none;
    border-radius: 2px;
    padding: 3px 15px;
    margin-top: 3px;
}

.grey-btn-small:hover {
    background-color: #202020;
}

.blue-btn-small {
    color: white;
    font-size: .9rem;
    background-color: #2266c5;
    border: none;
    border-radius: 2px;
    padding: 3px 15px;
    margin-top: 3px;
}

.blue-btn-small:hover {
    background-color: #202020;
}

.blue-btn-search {
    color: white;
    background-color: #2266c5;
    border: none;
    border-radius: 0.375rem;
    padding: 3px 15px;
}

.blue-btn-search:hover {
    background-color: #202020;
}

.modal-light-btn {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
}

.modal-red-btn {
    color: red;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
}

.custom-link {
    color: #4699f7;
}

.custom-link:hover {
    text-decoration: underline;
}

#btn-logout {
    color: #ffffff;
    text-decoration: none;
}


/* Forms */

#form-sent {
    text-align: center;
    color: white;
    background-color: seagreen;
    padding: 5px;
    margin-bottom: 3vh;
    border: 1px solid darkgreen;
    border-radius: 5px;
    height: 5vh;
    display: none;
}

.asteriskField {
    display: none;
}

#id_description {
    height: 20vh;
}

#id_feedback {
    height: 20vh;
}

#id_message {
    height: 30vh;
}

.form-help-text {
    font-size: small;
}