html, body {
    height: 100%;
    background-color: #E4E4E4;
}


/* Home */

#landing_page {
    background-image: url("/static/images/hero_1.jpeg");
    background-size: cover;
    height: 85vh;
}

#home_menu li a {
    color: #202020;
}

#home_menu li a:hover {
    color: #234F1E;
}

#home_headline {
    position: absolute;
    top: 25vh;
}

#home_headline h1 {
    color: #234F1E;
}

#home_footer {
    background-color: #202020;
    height: 15vh;
}


/* Dashboard */

#dash_main {
    min-height: 74vh;
}

#dash_menu_2_toggle {
    color: inherit;
    border: none;
    padding: 8px 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
}

#dropdown_options ul li a{
    color: inherit;
    font-weight: 600;
}

#dropdown_options ul li a:hover {
    color: #234F1E;
}

.strong-underline {
    border-bottom: 3px solid #234F1E;
}


/* Jobs tab */

#myTab li button {
    color: inherit;
    border: none;
}

#myTab li button:hover {
    border: none;
    color: white;
    background-color: #202020;
}

#myTab li button.active {
    color: white;
    background-color: #202020;
}


/* Accordion */

.accordion {
    --bs-accordion-color: inherit;
    --bs-accordion-bg: #f0f0f0;
    --bs-accordion-border-width: 1px;
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-bg: #fafafa;
    --bs-accordion-active-color: #202020;
    --bs-accordion-active-bg: #fafafa;
}

.accordion:hover {
    --bs-accordion-btn-color: #234F1E;
}