{% extends "employee_dashboard/employee_dashboard_base.html" %}

{% load crispy_forms_tags %}

{% block employee_content %}
<div class="container-fluid">
    <div class="row mt-2 px-md-4 pt-4">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <p>
                <a href="{% url 'employee_active_jobs' %}" class="custom-link"><i class="fa-solid fa-chevron-left"></i>Back</a>
            </p>
            <div class="card card-body">
                <h5 class="pb-2">Add feedback:</h5>
                <p>
                    <strong># {{ job.id }}</strong> - {{ job.title }} - ({{ job.user.profile.name }})
                </p>
                <p>
                    <strong>Description:</strong><br>
                    {{ job.description }}
                </p>
                <div class="pt-3">
                    <form method="post">
                        {% crispy feedback_form %}
                        <div class="container-fluid">
                            <div class="row">
                                <button type="submit" class="blue-btn-small col-sm-6 col-md-4">
                                    <i class="fa-solid fa-check"></i><span class="ps-2">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}