{% extends "employee_dashboard/employee_dashboard_base.html" %}

{% block employee_content %}
<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card" id="card-content">
                <div class="card-body px-md-5 pt-2 pb-5">

                    <!-- Active jobs accordion -->
                    <div class="accordion" id="dash_accordion2">
                        {% for job in active_jobs %}
                        <div class="accordion-item">

                            <!-- Accordion header -->
                            <div class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#{{ forloop.counter }}" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <span>
                                        <strong class="testing">{{ job.id }} - {{ job.title }}</strong>
                                        - {{ job.user.profile.name }}
                                        {% if job.deletion %}
                                        <i class="fa-regular fa-clock"></i> Awaiting deletion
                                        {% endif %}
                                    </span>
                                </button>
                            </div>

                            <!-- Accordion body -->
                            <div id="{{ forloop.counter }}" class="accordion-collapse collapse"
                                aria-labelledby="headingOne" data-bs-parent="#dash_accordion2">
                                <div class="accordion-body pb-4">
                                    <p>
                                        <strong>Description:</strong><br>
                                        {{ job.description }}
                                    </p>
                                    <p>
                                        <strong>Created on:</strong> {{ job.created_on }}<br>
                                        <strong>Last updated on:</strong> {{ job.updated_on }}
                                    </p>
                                    <p>
                                        <strong>Assigned to:</strong> {{ job.assignment }}
                                    </p>
                                    <p>
                                        <strong>Feedback given:</strong><br>
                                        {{ job.feedback }}
                                    </p>
                                    <a href="{% url 'add_feedback' job.id %}">
                                        <button type="button" class="grey-btn-small">
                                            <i class="fa-solid fa-pen-to-square"></i><span class="ps-2"> Add feedback</span>
                                        </button>
                                    </a>
                                    <button class="grey-btn-small" type="button" data-bs-toggle="modal" data-bs-target="#modal_done_{{ job.id }}" aria-expanded="false" aria-controls="mark job as done">
                                        <i class="fa-solid fa-check"></i><span class="ps-2">Mark job as done</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Mark job as done modal -->
                        <div class="modal fade" id="modal_done_{{ job.id }}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center p-4 p-md-5">
                                        <strong class="text-center">Are you sure you would like to mark this job as
                                            done?</strong>
                                    </div>
                                    <div class="modal-body text-center">
                                        <div class="container-fluid">
                                            <div class="row modal-buttons">
                                                <div class="col-6 modal-button-border p-2">
                                                    <button type="button" class="modal-light-btn"
                                                        data-bs-dismiss="modal">Close</button>
                                                </div>
                                                <div class="col-6 p-2">
                                                    <a href="{% url 'mark-as-done' job.id %}">
                                                        <button class="modal-light-btn">Mark as done</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {% empty %}
                        <p>There are currently no active jobs.</p>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}