{% extends "menu_base.html" %}

{% block dashboard_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5">

            <h1 class="py-4 ps-2 fs-2 text-center">
                <i class="fa-solid fa-screwdriver-wrench"></i> Sorry but we couldn't fix this page!
            </h1>
            <div class="pt-4 text-center">
                <p>
                    Something went wrong and we couldn't find this page on our records.
                </p>
                <p>
                    Don't worry, you can still go back and we'll fix this issue.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}