{% extends "base.html" %}

{% block content %}
<header>

    <!-- Navigation with toggle button for smaller screens -->
    <nav class="navbar navbar-expand-md">
        <div class="container-md mt-4 col-10">
            <a class="navbar-brand fs-3 fw-bold" href="{% url 'home' %}">TheMaintenanceCo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars fs-3"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="top-menu" class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_account' %}">Account</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    Hello, {{ user.profile.name }}
                </span>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

</header>

<main id="dash_main">

    {% block dashboard_content %}
    {% endblock %}

</main>

{% endblock %}