{% extends "manager_dashboard/manager_dashboard_base.html" %}

{% block manager_content %}
<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">

            <nav class="navbar navbar-expand-sm ps-2 pt-2 pb-4">
                <a id="dash_menu_2_toggle" class="navbar-toggler" data-bs-toggle="collapse" href="#jobs_options"
                    aria-controls="jobs_options" aria-expanded="false" aria-label="Toggle navigation">Completed
                    ({{ completed_jobs|length }}) <i class="fa-solid fa-chevron-down"></i></a>
                <div class="collapse navbar-collapse" id="jobs_options">
                    <ul class="navbar-nav">
                        <li class="nav-item pe-3">
                            <a href="{% url 'new_jobs' %}">New ({{ new_jobs|length }})</a>
                        </li>
                        <li class="nav-item pe-3">
                            <a href="{% url 'active_jobs' %}">Active ({{ active_jobs|length }})</a>
                        </li>
                        <li class="nav-item pe-3">
                            <a class="menu-active" href="{% url 'completed_jobs' %}">Completed
                                ({{ completed_jobs|length }})</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="accordion" id="dash_accordion">
                {% for job in completed_jobs %}
                <div class="accordion-item">

                    <div class="accordion-header" id="heading_{{ forloop.counter }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#{{ forloop.counter }}" aria-expanded="false" aria-controls="{{ forloop.counter }}">
                            <span>
                                <strong># {{ job.id }}</strong> - {{ job.title }} - ({{ job.user.profile.name }})
                            </span>
                        </button>
                    </div>

                    <div id="{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading_{{ forloop.counter }}"
                        data-bs-parent="#dash_accordion">
                        <div class="accordion-body pb-4">
                            <p>
                                <strong>Description:</strong><br>
                                {{ job.description }}
                            </p>
                            <p>
                                <strong>Feedback given:</strong><br>
                                {{ job.feedback }}
                            </p>
                            <p>
                                <strong>Assigned to:</strong> {{ job.assignment }}
                            </p>
                            <p>
                                Created on: {{ job.created_on }}<br>
                                Last updated on: {{ job.updated_on }}
                            </p>
                            <button class="blue-btn-small" type="button" data-bs-toggle="modal" data-bs-target="#modal_{{ job.id }}" aria-expanded="false" aria-controls="delete job">
                                <i class="fa-solid fa-trash-can"></i><span class="ps-2">Delete job</span>
                            </button>
                            <button class="blue-btn-small" type="button" data-bs-toggle="modal" data-bs-target="#modal_done_{{ job.id }}" aria-expanded="false" aria-controls="mark job as done">
                                <i class="fa-solid fa-arrow-rotate-right"></i><span class="ps-2">Reopen job</span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Delete job Modal -->
                <div class="modal fade" id="modal_{{ job.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center p-4 p-md-5">
                                <strong class="text-center">Are you sure you would like to delete this job?</strong>
                            </div>
                            <div class="modal-body text-center">
                                <div class="container-fluid">
                                    <div class="row modal-buttons">
                                        <div class="col-6 modal-button-border p-2">
                                            <button type="button" class="modal-light-btn"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                        <div class="col-6 p-2">
                                            <a href="{% url 'delete_job' job.id %}">
                                                <button class="modal-red-btn">Delete</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mark job as done modal -->
                <div class="modal fade" id="modal_done_{{ job.id }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center p-4 p-md-5">
                                <strong class="text-center">Are you sure you would like to reopen this job?</strong>
                            </div>
                            <div class="modal-body text-center">
                                <div class="container-fluid">
                                    <div class="row modal-buttons">
                                        <div class="col-6 modal-button-border p-2">
                                            <button type="button" class="modal-light-btn"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                        <div class="col-6 p-2">
                                            <a href="{% url 'job_done' job.id %}">
                                                <button class="modal-light-btn">Reopen job</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% empty %}
                <p>There are currently no completed jobs.</p>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}