{% extends "manager_dashboard/manager_dashboard_base.html" %}

{% block manager_content %}
<!-- Jobs accordion -->
<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-8 offset-md-2">
            <h5 class="pb-2 ps-2">Completed jobs</h5>
            <div class="accordion" id="dash_accordion">
                {% for job in jobs %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                            <span>{{ job.id }} - {{ job.title }}</span>
                        </button>
                    </h2>
                    <div id="{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#dash_accordion">
                        <div class="accordion-body">
                            <p>
                                <strong>Description:</strong><br>
                                <span>{{ job.description }}</span>
                            </p>
                            <p>
                                <strong>Created on:</strong> {{ job.created_on }}<br>
                                <strong>Last updated on:</strong> {{ job.updated_on }}
                            </p>
                            <p>
                                <strong>Status:</strong> {{ job.assignment }}
                            </p>
                            <p>
                                <strong>Feedback given:</strong> {{ job.feedback }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}