{% extends "manager_dashboard/manager_dashboard_base.html" %}

{% block manager_content %}
<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-8 offset-md-2">
            <div class="card" id="card-content">

                <!-- Tabs content -->
                <div class="card-body px-md-5 py-4">
                    <p>
                        <a href="{% url 'jobs_list' %}" class="custom-link"><i class="fa-solid fa-chevron-left"></i> Back</a>
                    </p>
                    <h4>Edit job</h4>
                    <div class="pt-3">
                        <p>
                            <strong>Category:</strong> {{ job.category }}<br>
                            <strong>Equipment:</strong> {{ job.equipment }}
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            {{ edit_form.as_p }}
                            <p>
                                <button type="submit" class="grey-btn-small">Save</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}