{% extends "manager_dashboard/manager_dashboard_base.html" %}

{% block manager_content %}
<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-8 offset-md-2">
            <!-- Tabs navigation -->
            <ul class="nav nav-tabs ps-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="new-tab" data-bs-toggle="tab" data-bs-target="#new-tab-pane"
                        type="button" role="tab" aria-controls="new-tab-pane" aria-selected="true">{{ new_jobs|length }} New</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="active-tab" data-bs-toggle="tab" data-bs-target="#active-tab-pane"
                        type="button" role="tab" aria-controls="active-tab-pane" aria-selected="false">{{ active_jobs|length }} Active</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed-tab-pane"
                        type="button" role="tab" aria-controls="completed-tab-pane" aria-selected="false">{{ completed_jobs|length }} Completed</button>
                </li>
            </ul>
            <!-- Tabs content -->
            <div class="tab-content" id="myTabContent">
                <!-- New jobs accordion -->
                <div class="tab-pane fade show active" id="new-tab-pane" role="tabpanel" aria-labelledby="new-tab"
                    tabindex="0">
                    <div class="accordion" id="dash_accordion">
                        {% for job in new_jobs %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#{{ forloop.counter }}" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <span>{{ job.id }} - {{ job.title }}</span>
                                </button>
                            </h2>
                            <div id="{{ forloop.counter }}" class="accordion-collapse collapse"
                                aria-labelledby="headingOne" data-bs-parent="#dash_accordion">
                                <div class="accordion-body">
                                    <p>
                                        <strong>Description:</strong><br>
                                        {{ job.description }}
                                    </p>
                                    <p>
                                        <strong>Created on:</strong> {{ job.created_on }}<br>
                                        <strong>Last updated on:</strong> {{ job.updated_on }}
                                    </p>
                                    <p>
                                        <strong>Assigned to:</strong> {{ job.assignment }}
                                    </p>
                                    <p>
                                        <strong>Feedback given:</strong><br>
                                        {{ job.feedback }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="card card-body">
                            <p>There are currently no new jobs.</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Active jobs accordion -->
                <div class="tab-pane fade" id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab"
                    tabindex="0">
                    <div class="accordion" id="dash_accordion2">
                        {% for job in active_jobs %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#{{ forloop.counter }}" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <span>{{ job.id }} - {{ job.title }}</span>
                                </button>
                            </h2>
                            <div id="{{ forloop.counter }}" class="accordion-collapse collapse"
                                aria-labelledby="headingOne" data-bs-parent="#dash_accordion2">
                                <div class="accordion-body">
                                    <p>
                                        <strong>Description:</strong><br>
                                        {{ job.description }}
                                    </p>
                                    <p>
                                        <strong>Created on:</strong> {{ job.created_on }}<br>
                                        <strong>Last updated on:</strong> {{ job.updated_on }}
                                    </p>
                                    <p>
                                        <strong>Assigned to:</strong> {{ job.assignment }}
                                    </p>
                                    <p>
                                        <strong>Feedback given:</strong><br>
                                        {{ job.feedback }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="card card-body">
                            <p>There are currently no active jobs.</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Completed jobs accordion -->
                <div class="tab-pane fade" id="completed-tab-pane" role="tabpanel" aria-labelledby="completed-tab"
                    tabindex="0">
                    <div class="accordion" id="dash_accordion3">
                        {% for job in completed_jobs %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#{{ forloop.counter }}" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <span>{{ job.id }} - {{ job.title }}</span>
                                </button>
                            </h2>
                            <div id="{{ forloop.counter }}" class="accordion-collapse collapse"
                                aria-labelledby="headingOne" data-bs-parent="#dash_accordion3">
                                <div class="accordion-body">
                                    <p>
                                        <strong>Description:</strong><br>
                                        {{ job.description }}
                                    </p>
                                    <p>
                                        <strong>Created on:</strong> {{ job.created_on }}<br>
                                        <strong>Last updated on:</strong> {{ job.updated_on }}
                                    </p>
                                    <p>
                                        <strong>Assigned to:</strong> {{ job.assignment }}
                                    </p>
                                    <p>
                                        <strong>Feedback given:</strong><br>
                                        {{ job.feedback }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="card card-body">
                            <p>There are currently no completed jobs.</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}