{% extends "../dashboard_base.html" %}

{% block dashboard_content %}
<!-- Manager dashboard menu -->
<div class="container-fluid" id="dashboard-menu">
    <div class="row">
        <div class="col-md-6 offset-md-1">

            <!-- Dashboard menu -->
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid">
                    <a id="dash_menu_2_toggle" class="navbar-toggler fw-semibold" data-bs-toggle="collapse" href="#dropdown_options"
                        aria-controls="dropdown_options" aria-expanded="false" aria-label="Toggle navigation">Active <i class="fa-solid fa-chevron-down"></i></a>
                    <div class="collapse navbar-collapse" id="dropdown_options">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="{% url 'new_jobs' %}" class="nav-link" id="btn-1">Jobs</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" class="nav-link" id="btn-2">Add User</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'show_users' %}" class="nav-link" id="btn-3">Users</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</div>

    <!-- Manager dashboard content goes here -->
    {% block manager_content %}
    {% endblock %}

{% endblock %}