<div id="dash_menu_2" class="container">
    <div class="row">
        <div class="col-md-6 offset-md-1 mt-4 mb-2">
            <ul class="nav">
                <li class="nav-item">
                    <a href="" class="nav-link">All</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">New</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Active</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Completed</a>
                </li>
            </ul>
        </div>
    </div>
</div>