{% extends "manager_dashboard/manager_dashboard_base.html" %}

{% block manager_content %}
<!-- Jobs accordion -->
<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-8 offset-md-2">
            <h5 class="pb-2 ps-2">Users</h5>
            <div class="accordion" id="dash_accordion">
                {% for user in users %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                            <span>{{ user.profile.name }}</span>
                        </button>
                    </h2>
                    <div id="{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#dash_accordion">
                        <div class="accordion-body">
                            <p>
                                <strong>Username:</strong><br>
                                <span>{{ user }}</span>
                            </p>
                            <p>
                                <strong>Id:</strong><br>
                                <span>{{ user.id }}</span>
                            </p>
                            <p>
                                <strong>Email:</strong><br>
                                <span>{{ user.email }}</span>
                            </p>
                            <p>
                                <strong>Type:</strong><br>
                                <span>{{ user.profile.type }}</span>
                            </p>
                            <a href="{% url 'edit_user' user.id %}">
                                <button class="edit-user-btn">Edit</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}