{% extends "manager_dashboard/manager_dashboard_base.html" %}

{% block manager_content %}

<!-- Defines which dashboard button is going to have the .strong-underline class -->
<input id="active-button" type="hidden" value="#btn-3" name="Users">

<!-- Jobs accordion -->
<div class="container-fluid">
    <div class="row mt-2 p-4">
        <div class="col-md-6 offset-md-3">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <h5 class="pb-2">Users</h5>
                    </div>
                    <div class="col-6 text-end">
                        <button class="blue-btn-small" type="button" data-bs-toggle="collapse"
                            data-bs-target="#filter_field" aria-expanded="false"
                            aria-controls="filter jobs">Filter</button>
                    </div>
                </div>

                <!-- Search field -->
                <div class="row my-3 collapse" id="filter_field">
                    <div class="col">
                        <form action="" method="get">
                            <div class="input-group">
                                <input type="search" name="queryset" id="queryset" class="form-control"
                                    placeholder="Filter jobs..." aria-label="Filter jobs">
                                <button class="blue-btn-search"><i class="fa-solid fa-magnifying-glass"></i>
                                    Filter</button>
                                <button class="blue-btn-search"><i class="fa-solid fa-rotate-right"></i> Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Users awaiting approval -->
            <span class="ps-2">Users awaiting approval:</span>
            <div class="accordion pt-2 pb-4" id="dash_accordion">
                {% for user in users %}
                {% if user.is_active == False %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                            <span>{{ user.profile.name }}</span>
                        </button>
                    </h2>
                    <div id="{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#dash_accordion">
                        <div class="accordion-body">
                            <p>
                                <strong>Username:</strong><br>
                                <span>{{ user }}</span>
                            </p>
                            <p>
                                <strong>Email:</strong><br>
                                <span>{{ user.email }}</span>
                            </p>
                            <p>
                                <strong>Type:</strong><br>
                                {% if user.profile.type == 1 %}
                                <span>Manager</span>
                                {% elif user.profile.type == 2 %}
                                <span>Employee</span>
                                {% elif user.profile.type == 3 %}
                                <span>Client</span>
                                {% else %}
                                <span>Unknown type</span>
                                {% endif %}
                            </p>
                            <a href="{% url 'edit_user' user.id %}">
                                <button class="blue-btn-small">
                                    <i class="fa-solid fa-user-pen"></i><span class="ps-2">Edit user</span>
                                </button>
                            </a>
                            <button class="blue-btn-small" type="button" data-bs-toggle="modal"
                                data-bs-target="#modal_{{ user.id }}" aria-expanded="false" aria-controls="delete user">
                                <i class="fa-solid fa-user-xmark"></i><span class="ps-2">Delete user</span>
                            </button>
                            <a href="{% url 'approve_user' user.id %}">
                                <button class="blue-btn-small">
                                    <i class="fa-solid fa-check"></i><span class="ps-2">Approve user</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Delete user Modal -->
                <div class="modal fade" id="modal_{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center p-4 p-md-5">
                                <strong class="text-center">
                                    <p>Are you sure you would like to delete {{ user }}?</p>
                                    <p>This will delete all associated data with the user and cannot be undone!</p>
                                </strong>
                            </div>
                            <div class="modal-body text-center">
                                <div class="container-fluid">
                                    <div class="row modal-buttons">
                                        <div class="col-6 modal-button-border p-2">
                                            <button type="button" class="modal-light-btn"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                        <div class="col-6 p-2">
                                            <a href="{% url 'delete_user' user.id %}">
                                                <button class="modal-red-btn">Delete user</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% empty %}
                    <p>No users awaiting approval.</p>
                {% endfor %}
            </div>

            <!-- Approved active users -->
            <span class="ps-2">Active users:</span>
            <div class="accordion pt-2 pb-4" id="dash_accordion">
                {% for user in users %}
                {% if user.is_active %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                            <span>{{ user.profile.name }}</span>
                        </button>
                    </h2>
                    <div id="{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#dash_accordion">
                        <div class="accordion-body">
                            <p>
                                <strong>Username:</strong><br>
                                <span>{{ user }}</span>
                            </p>
                            <p>
                                <strong>Email:</strong><br>
                                <span>{{ user.email }}</span>
                            </p>
                            <p>
                                <strong>Type:</strong><br>
                                {% if user.profile.type == 1 %}
                                <span>Manager</span>
                                {% elif user.profile.type == 2 %}
                                <span>Employee</span>
                                {% elif user.profile.type == 3 %}
                                <span>Client</span>
                                {% else %}
                                <span>Unknown type</span>
                                {% endif %}
                            </p>
                            <a href="{% url 'edit_user' user.id %}">
                                <button class="blue-btn-small">
                                    <i class="fa-solid fa-user-pen"></i><span class="ps-2">Edit user</span>
                                </button>
                            </a>
                            <button class="blue-btn-small" type="button" data-bs-toggle="modal"
                                data-bs-target="#modal_{{ user.id }}" aria-expanded="false" aria-controls="delete user">
                                <i class="fa-solid fa-user-xmark"></i><span class="ps-2">Delete user</span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Delete user Modal -->
                <div class="modal fade" id="modal_{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center p-4 p-md-5">
                                <strong class="text-center">
                                    <p>Are you sure you would like to delete {{ user }}?</p>
                                    <p>This will delete all associated data with the user and cannot be undone!</p>
                                </strong>
                            </div>
                            <div class="modal-body text-center">
                                <div class="container-fluid">
                                    <div class="row modal-buttons">
                                        <div class="col-6 modal-button-border p-2">
                                            <button type="button" class="modal-light-btn"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                        <div class="col-6 p-2">
                                            <a href="{% url 'delete_user' user.id %}">
                                                <button class="modal-red-btn">Delete user</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% empty %}
                    <p>No records found.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}